[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
	branch = master
[submodule "nodemcu-prebuilt-toolchains"]
	path = nodemcu-prebuilt-toolchains
	url = https://github.com/jmattsson/nodemcu-prebuilt-toolchains
	branch = master
[submodule "micropython"]
	path = micropython
	url = https://github.com/SHA2017-badge/micropython-esp32.git
	branch = esp32
[submodule "ugfx"]
	path = ugfx
	url = https://git.ugfx.io/ugfx/ugfx.git
	branch = master
[submodule "micropython-lib"]
	path = micropython-lib
	url = https://github.com/micropython/micropython-lib.git
