[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/SHA2017-badge/esp-idf.git
	branch = master
[submodule "micropython"]
	path = micropython
	url = https://github.com/SHA2017-badge/micropython-esp32.git
	branch = master
[submodule "ugfx"]
	path = ugfx
	url = https://github.com/SHA2017-badge/ugfx.git
	branch = master
[submodule "micropython-lib"]
	path = micropython-lib
	url = https://github.com/SHA2017-badge/micropython-lib.git
	branch = master
[submodule "examples"]
	path = examples
	url = https://github.com/SHA2017-badge/micropython-examples-sha2017.git
	branch = master
[submodule "auto-flasher"]
	path = auto-flasher
	url = https://github.com/SHA2017-badge/auto-flasher.git
[submodule "xtensa-esp32-elf"]
	path = xtensa-esp32-elf
	url = https://github.com/SHA2017-badge/xtensa-esp32-elf.git
