[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/SHA2017-badge/esp-idf.git
	branch = master
[submodule "nodemcu-prebuilt-toolchains"]
	path = nodemcu-prebuilt-toolchains
	url = https://github.com/jmattsson/nodemcu-prebuilt-toolchains
	branch = master
[submodule "micropython"]
	path = micropython
	url = https://github.com/SHA2017-badge/micropython-esp32.git
	branch = master
[submodule "ugfx"]
	path = ugfx
	url = https://github.com/SHA2017-badge/ugfx.git
	branch = master
[submodule "micropython-lib"]
	path = micropython-lib
	url = https://github.com/micropython/micropython-lib.git
	branch = master
[submodule "examples"]
	path = examples
	url = https://github.com/SHA2017-badge/micropython-examples-sha2017.git
	branch = master
[submodule "auto-flasher"]
	path = auto-flasher
	url = git@github.com:SHA2017-badge/auto-flasher.git
