menu "Connectivity"

config WIFI_USE
    bool "Use WiFi on badge"
    default y
    help
        Let the badge use wifi

config WIFI_SSID
    string "WiFi SSID"
    depends on WIFI_USE
    default "SHA2017-badge"
    help
        SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    depends on WIFI_USE
    default "b4dg3r"
    help
        WiFi password (WPA or WPA2) for the example to use.

        Can be left blank if the network has no security set.

endmenu

