menu "SHA2017 Badge Configuration"

choice SHA_BADGE_REV
    prompt "SHA Badge revision"
    default SHA_BADGE_V2
    help
        This option sets the SHA badge revision.

        - Rev0.0.1 Dev: The original development badge.
          (december 2016)
        - Rev0.1.0 Dev: Improved badge.
          (february 2017)

config SHA_BADGE_V1
    bool "Rev0.0.1 Dev"
config SHA_BADGE_V2
    bool "Rev0.1.0 Dev"
endchoice

config WIFI_USE
	bool "Use WiFi on badge"
	depends on WIFI_ENABLED
	default false
	help
		Let the badge use wifi

config WIFI_SSID
    string "WiFi SSID"
	depends on WIFI_USE
	default "myssid"
	help
		SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	depends on WIFI_USE
	default "myssid"
	help
		WiFi password (WPA or WPA2) for the example to use.

		Can be left blank if the network has no security set.

endmenu
